$theme-grey: #37474f;
$font-color: #e0e0e0;

/*
  responsive font size:
  font-size: calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
  */
@mixin font-size($maxSize, $minSize) {
  font-size: calc(
    #{$minSize}px + (#{$maxSize} - #{$minSize}) *
      ((100vw - 300px) / (1600 - 300))
  );
}

@mixin flex-center($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

html {
  background-color: $theme-grey;
  font-size: 100%;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
td,
th,
button,
input,
label {
  text-align: center;
  color: $font-color;
}

h1 {
  @include font-size(56, 24);
  text: {
    align: center;
  }
}

.theme-background {
  background-color: $theme-grey;
}

.container,
.col,
.card {
  @include flex-center(column);
}

.row {
  @include flex-center(row);
}

.card {
  margin: 5px 20px;
  padding: 10px;
  border-radius: 10px;
}

.card p {
  margin-right: 20px;
}

input {
  border: none;
  border-bottom: 1px solid $font-color;
  padding: 5px;
  margin: 10px;
}

#slider {
  margin-top: 20px;
  min-width: 250px;
  max-width: 300px;
}

button {
  font-size: 15px;
  border: none;
  border-bottom: 1px solid $font-color;
  padding: 15px;
  margin: 100px 10px;

  &:active {
    text-decoration: none;
    position: relative;
    border: none;
    transition: 0.2s ease-in-out;
  }
}

#time-left {
  @include font-size(36, 20);
  margin: 10px;
}

#time-input {
  @include font-size(26, 18);
  min-width: 250px;

  &:focus {
    outline: none;
  }
}
