html{background-color:#37474f;font-size:100%;scroll-behavior:smooth}h1,h2,h3,h4,h5,h6,p,a,li,td,th,button,input,label{text-align:center;color:#e0e0e0}h1{font-size:calc(
    24px + (56 - 24) *
      ((100vw - 300px) / (1600 - 300))
  );text-align:center}.theme-background{background-color:#37474f}.container,.col,.card{display:flex;flex-direction:column;justify-content:center;align-items:center}.row{display:flex;flex-direction:row;justify-content:center;align-items:center}.card{margin:5px 20px;padding:10px;border-radius:10px}.card p{margin-right:20px}input{border:none;border-bottom:1px solid #e0e0e0;padding:5px;margin:10px}#slider{margin-top:20px;min-width:250px;max-width:300px}button{font-size:15px;border:none;border-bottom:1px solid #e0e0e0;padding:15px;margin:100px 10px}button:active{text-decoration:none;position:relative;border:none;transition:.2s ease-in-out}#time-left{font-size:calc(
    20px + (36 - 20) *
      ((100vw - 300px) / (1600 - 300))
  );margin:10px}#time-input{font-size:calc(
    18px + (26 - 18) *
      ((100vw - 300px) / (1600 - 300))
  );min-width:250px}#time-input:focus{outline:none}/*# sourceMappingURL=main.css.map */
